<div class="container">
    <form>
        <div class="form-row" style="margin-bottom: 20px; margin-top: 2%;">
            <div class="col-sm-12">
            <input type="text" class="form-control" placeholder="Search..." #searchValue (input)='onSearch(searchValue.value)'>
            </div>
        </div>
    </form>
    <div>
        <h4 style="margin-bottom: 20px; margin-top: 50px;">{{labelTitle}}</h4>
    </div>
    <div class="row">
            <div class="col-sm-4" style="margin-bottom: 15px" *ngFor="let recipe of recipeList">
            <div class="card card-height" [appHighlight]="'springgreen'">
                <img [src]="recipe.image" class="card-img-top img-fluid img-thumbnail" style="height: 300px;" alt="Recipe Image" />
                <div class="card-body">
                    <h5 class="card-title">{{recipe.name}}
                        <img
                            src="{{recipe.type === 'v' ? 'https://img.icons8.com/cute-clipart/30/000000/vegetarian-food-symbol.png' : 'https://img.icons8.com/cute-clipart/30/000000/non-vegetarian-food-symbol.png' }}" />
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Made with <img
                            src="https://img.icons8.com/plasticine/30/000000/like.png"> by {{recipe.chef}}
                    </h6>
                    <p class="card-text">Lorem Ipsum test data random text typing fastly asaks ansdas asdasd asdkjasdkl
                        asdajskdklsajda ajdslasd asndnas znfmf askfjklsdnf ajsdklasjd askdjaslkdn asldjlkasdn some quick
                        example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
