.jumbotron-background {
    background-image: url('src/assets/images/background-medium.jpg');
    background-size: cover;
    height: 150px;
    margin-bottom: 0px;
}

.active {
    background-color: blue;
}